@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black
}

#project-wall {
  --clip: 0%;
  overflow: hidden;
}

#grid-front{
  grid-gap: 17rem 17%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -7%;
  top: 5%;
  width: 120%;
}

#grid-back {
  grid-gap: 28rem 33.333%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: -8%;
  margin: auto;
  right: 0;
  top: 15%;
  width: 80%;
}